site_name: Handling sensitive data at NAISS
repo_url: https://github.com/UPPMAX/bianca_workshop
edit_uri: blob/main/docs/

nav:
  - Home: index.md
  - Prerequisites: prereqs.md
  - Beginner:
      - Introduction: beginner/intro.md
      - Learning outcomes: beginner/learning_outcomes.md
      - Course dates: beginner/course_dates.md
      - Schedule: beginner/schedule.md
      - Login: beginner/login.md
      - Log in to the Bianca remote desktop environment: beginner/login_remote_desktop.md
      - Using the desktop environment: beginner/use_remote_desktop.md
      - Log in to the Bianca console environment: beginner/login_console.md
      - Command-line intro: beginner/commandline.md
      - Create an executable script: beginner/create_script.md
      - Module system: beginner/modules.md
      - Transferring files to/from Bianca using a graphical tool: beginner/file_transfer_using_gui.md
      # - Slurm:  beginner/slurm_intro.md
      - Slurm:  beginner/slurm_intro_new.md
      - IDEs: beginner/ides/README.md
      - Summary: beginner/summary.md
      - Evaluation: beginner/evaluation.md
  - Intermediate:
      - Introduction: intermediate/intro.md
      - Learning outcomes: intermediate/learning_outcomes.md
      - Course dates: intermediate/course_dates.md
      - Schedule: intermediate/schedule.md
      - GPUs: intermediate/gpu.md
      - Transferring files to/from Bianca: intermediate/transfer.md
      - Efficient jobs: intermediate/efficient_jobs/README.md
      - Packages and software installation: intermediate/install.md
      - Summary: intermediate/summary.md
      - Evaluation: intermediate/evaluation.md
  - Extra material:
      - The bigger picture: intermediate/overview.md
      - Transferring files to/from Bianca: extra/transfer_basics.md
      - Introduction to compute nodes: extra/slurm_intro_old.md
      - intermediate/complex_jobs.md
      - intermediate/replicate_jobs.md
      - extra/slurm.md
      - extra/source_install.md
      - extra/conda.md
      - extra/pip.md
      - extra/rpackages.md
      - extra/julia.md
      - extra/containers.md
      - extra/devel.md
  - Misc:
      - Communication: communication/README.md
      - Evaluations: evaluations/README.md
      - Frequently asked questions: faq/README.md
      - Lesson plans: lesson_plans/README.md
      - Meeting notes: meeting_notes/README.md
      - Project: misc/project.md
      - Reflections: reflections/README.md
      - Shared document: misc/shared_document.md
      - Shared documents: shared_documents/README.md

not_in_nav: |
  assets/empty.md
  beginner/exercises.md
  beginner/linux.md
  beginner/slurm_intro_old.md
  beginner/start_interactive_node.md
  beginner/img/empty.md
  beginner/slurm_intro.md
  beginner/start_interactive_session.md
  communication/beginner_welcome_email.md
  communication/beginner/README.md
  communication/beginner/beginner_welcome_email.md
  communication/intermediate/README.md
  communication/intermediate/Bianca_login.md
  communication/intermediate/intermediate_welcome_email_250516.md
  communication/intermediate/practical_details.md
  data/README.md
  data/counts/20250319/README.md
  evaluations/20230911/README.md
  evaluations/20231211/README.md
  evaluations/20240419/README.md
  evaluations/20240524/README.md
  evaluations/20240925/README.md
  evaluations/20241111/README.md
  evaluations/20241111/stats.md
  evaluations/20250319/README.md
  evaluations/20250523/README.md
  evaluations/20250915/README.md
  evaluations/20250915/stats.md
  evaluations/20251118/README.md
  evaluations/20251118/stats.md
  evaluations/20260206/README.md
  extra/beginner_exercises.md
  extra/linux.md
  extra/jupyter.md
  intermediate/compute_nodes.md
  intermediate/practicalities.md
  lesson_plans/20230911/20230911_richel.md
  lesson_plans/20231211/20231211_richel.md
  lesson_plans/20231214/20231214_richel.md
  lesson_plans/20240419/20240419_richel.md
  lesson_plans/20240524/20240524_richel.md
  lesson_plans/20240524/indicators_of_engagement.md
  lesson_plans/20240925/20240925_richel.md
  lesson_plans/20241111/20241111_richel.md
  lesson_plans/20250319/20250319_richel.md
  lesson_plans/20250523/20250523_richel.md
  lesson_plans/20250523/README.md
  lesson_plans/20250915/20250915_richel.md
  lesson_plans/20251118/20251118_richel.md
  lesson_plans/20260206/20260206_richel.md
  meeting_notes/20241010.md
  meeting_notes/20241108.md
  meeting_notes/20250417.md
  misc/exercise_procedure.md
  prevaluations/20241111/README.md
  reflections/20230911/20230911_richel.md
  reflections/20231211/20231211_richel.md
  reflections/20231214/20231214_richel.md
  reflections/20240419/20240419_richel.md
  reflections/20240524/README.md
  reflections/20240524/20240524_richel.md
  reflections/20240925/20240925_richel.md
  reflections/20241111/20241111_richel.md
  reflections/20250319/20250319_richel.md
  reflections/20250523/20250523_richel.md
  reflections/20250915/20250915_richel.md
  reflections/20251118/20251118_richel.md
  reflections/20260206/20260206_richel.md
  shared_documents/20240419.md
  shared_documents/20240524.md

theme:
  name: material
  greetings: Welcome to Bianca workshop
  font:
    text: Lato
    code: JetBrains Mono

  # Keyboard shortcuts for navigation, from https://www.mkdocs.org/user-guide/choosing-your-theme/
  shortcuts:
    help: 191    # ?
    next: 78     # n
    previous: 80 # p
    search: 83   # s

  logo: logo/naiss_logo_white.png

  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.path
    - navigation.footer
    - search.suggest
    - content.code.annotate
    - content.code.copy
    - content.tabs.link
    - content.action.edit
    - content.action.view

  custom_dir: mkdocs_uppmax/

# For NAISS color gradient at top
extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - toc:
      toc_depth: 3
      permalink: true
      permalink_title: Anchor link to this section for reference
  - admonition
  - tables
  - attr_list
  - footnotes
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.keys
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.arithmatex:
      generic: true
