# Check that all links are valid, i.e. not broken
name: Check links

# Check links on the 2nd day of the month.
# 2nd as the first letter of this repo is the 2nd letter in the alphabet.
on:
  workflow_dispatch:
  push:
    paths:
      - "docs/**"
      - .github/workflows/check_links.yaml
      - mlc_config.json
      - mkdocs.yml
  pull_request:
    paths:
      - "docs/**"
      - .github/workflows/check_links.yaml
      - mlc_config.json
      - mkdocs.yml
  schedule:
    - cron: "0 0 2 * *"

jobs:
  check-links:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v4

      # Remove folders that do not need to have their links checked
      #- name: Remove folders that do not need to have their links checked
      #  run: |
      #    rm -rf docs/evaluations
      #    rm -rf docs/lesson_plans
      #    rm -rf docs/meeting_notes
      #    rm -rf docs/reflections
      #    rm -rf docs/shared_documents

      - name: Restore lychee cache
        uses: actions/cache@v4
        with:
          path: .lycheecache
          key: cache-lychee-${{ github.sha }}
          restore-keys: cache-lychee-

      # The link checker will only work if mlc_config.json is a valid JSON
      - name: Validate JSON
        uses: docker://orrosenblatt/validate-json-action:latest
        env:
          INPUT_SCHEMA: .github/workflows/valid_json_schema.json
          INPUT_JSONS: mlc_config.json

      # These are status code that cannot be ignored.
      - name: Internal links must checked, do not allow '400' in the 'aliveStatusCodes' of mlc_config.json
        run: if [[ $(grep --count --regexp "[^0-9]400[^0-9]" mlc_config.json) == "1" ]]; then echo "FOUND"; exit 42; fi

      # For an indented block, a link to a broken image is ignored, as the link checker assumes it to be code.
      # In our case, it is not: for us, it is usually an admonition (i.e. a 'question' or 'info' block)
      # Here all indented text is unindented
      # https://github.com/UPPMAX/UPPMAX-documentation/issues/114
      - name: unindent text
        run: ./scripts/unindent_text.sh

      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: "mlc_config.json"
          use-quiet-mode: "yes"
          use-verbose-mode: "no"
